/* Fixed BeeForm on the right-hand side */
.bee-form {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 250px;
  background-color: #fffbee;
  padding: 15px;
  border-radius: 10px;
  border: 2px solid #ffba00;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.bee-form h2 {
  background-color: #ffba00; /* Yellow header */
  color: white;
  padding: 10px;
  border-radius: 8px 8px 0 0; /* Rounded corners at the top, square at the bottom */
  text-align: center;
  margin: -15px -15px 10px -15px;
}

.bee-form .form-group {
  margin-bottom: 10px;
}

.bee-form .form-group label {
  font-weight: bold;
  font-size: 14px;
}

.bee-form .form-group input[type="text"],
.bee-form .form-group input[type="password"] {
  width: 92%;
  padding: 8px;
  border: 1px solid #ffd740;
  border-radius: 6px;
}

.bee-form .form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.bee-form .save-button {
  background-color: #ffba00;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.bee-form .clear-button {
  background-color: #ff4444;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.clear-button:hover {
  background-color: #e53e3e;
}

/* New styles for the toggle button */
.bee-form .toggle-button {
  background-color: #ffba00; /* Solid yellow background */
  color: #fff; /* White text */
  padding: 10px; /* Padding for the button */
  margin-bottom: 5px;;
  border: 2px solid #ffd740; /* Light yellow border */
  border-radius: 8px; /* Increased border-radius for a softer look */
  cursor: pointer; /* Pointer cursor on hover */
  margin-top: 5px; /* Space above the button */
  width: 100%; /* Full width */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow effect */
  transition: all 0.3s ease; /* Smooth transition for background color and shadow */
}

.bee-form .toggle-button:hover {
  background-color: #ffd740; /* Lighter yellow on hover */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Darker shadow on hover */
}

.bee-form-header {
  border-radius: 8px 8px 0 0; /* Rounded top corners */
  position: relative; /* Ensure the button can be positioned within */
  text-align: center; /* Center the header label */
  width: 100%; /* Make the header fill the width */
}

.minimize-button {
  position: absolute;
  top: 10px;
  right: 10px; /* Align the button to the top-right */
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #000; /* Match button color with header text */
}
