/* Updated CSS for Spinner */
.trigger-test-container {
  width: max-content;
 
  box-sizing: border-box; /* Ensure padding doesn't affect the width */
  background-color: #ffba00;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 6px; /* Rounded corners */
  margin-bottom: 10px; /* Space between items */
   
  align-items: center; /* Center items vertically */
  transition: background-color 0.3s ease; /* Smooth background change */
}

.trigger-test-container:hover {
  background-color: #ffef84; /* Slightly darker yellow on hover */
}

.run-test-link {
  display: flex;
  align-items: center;
  font-size: 14px; /* Adjust font size for the sidebar */
  font-weight: bold;
  text-decoration: none;
  margin: 0; /* Remove bottom margin to avoid excess space */
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis; /* Show ellipsis for overflowing text */
  flex-grow: 1; /* Allow text to take available space */
  width: fit-content;
}

.play-button {
  font-size: 10px; /* Adjust button size for the sidebar */
  margin-right: 8px;
  color: white;
}

.loading-text {
  font-size: 14px; /* Adjust font size for the sidebar */
}

.spinner {
  width: 10px;
  height: 10px;
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border-top: 3px solid white; /* Yellow spinner color */
  animation: spin 1s linear infinite;
  display: inline-block;
  margin-right: 8px; /* Space before text */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.status-icon {
  font-size: 10px; /* Adjust size for icons */
  margin-right: 8px;
}

.success-icon {
  color: white; /* Green for success */
}

.error-icon {
  color: #e74c3c; /* Red for errors */
}

.trigger-test-container.success .run-test-link .text {
  background-color: #2ecc71; /* Green text for success */
  color: white;
  width: fit-content;
}
.trigger-test-container.success{
  background-color: #2ecc71; /* Green text for success */
  color: white;
  width: fit-content;
}


.trigger-test-container.error .run-test-link .text {
  color: #e74c3c; /* Red text for errors */
}

.trigger-test-container.error{
  background-color: #e74c3c; /* Green text for success */
  color: white;
  width: fit-content;
}
