/* App.css */

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner {
  border: 4px solid rgba(255, 223, 0, 0.3); /* Light yellow border with transparency */
  border-top: 4px solid #ffd700; /* Bright yellow color for the spinner */
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite; /* Spins the wheel */
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff3b0; /* Light yellow for bee theme */
}

.header {
  background-color: #ffd700; /* Bright yellow color for the header */
  color: #333;
  padding: 16px;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-container {
  display: flex;
  flex: 1;
}

.side-menu {
  width: 200px;
  background-color: #333; /* Dark black color for bee contrast */
  color: #ffd700; /* Yellow color for text */
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  height: calc(100vh - 64px); /* Full height minus header height */
  position: sticky;
  top: 64px; /* Adjusted to be below the header */
}

.side-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.side-menu li {
  margin: 16px 0;
  display: flex;
  align-items: center;
}

.play-button {
  background: none;
  border: none;
  color: #ffd700; /* Yellow for button */
  font-size: 1.2em;
  cursor: pointer;
  margin-right: 10px; /* Space between button and text */
  transition: transform 0.3s ease;
}

.play-button:hover {
  transform: scale(1.2);
}
/*  */

.content {
  flex: 1;
  padding: 20px;
  background-color: #fff; /* White background for content */
}

